<div class="container">
    <div class="card p-4">
        <ng-container *ngIf="days?.length == 0">
            <h4>{{"ORGANIZER.TITLE" | translate}}</h4>

            {{"ORGANIZER.QUESTIONS.WHAT" | translate}}
            <div class="form-group">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="movies" checked [(ngModel)]="moviesChecked">
                    <label class="form-check-label" for="movies">{{"ORGANIZER.RADIO.MOVIES" | translate}}</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="shows" [(ngModel)]="showsChecked">
                    <label class="form-check-label" for="shows">{{"ORGANIZER.RADIO.CANONSHOWS" | translate}}¹</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="ssu" [(ngModel)]="ssuChecked">
                    <label class="form-check-label" for="ssu">{{"ORGANIZER.RADIO.SSU" | translate}}²</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="fox" [(ngModel)]="foxChecked">
                    <label class="form-check-label" for="fox">{{"ORGANIZER.RADIO.FOX" | translate}}³</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="netflix" [(ngModel)]="netflixChecked">
                    <label class="form-check-label" for="netflix">{{"ORGANIZER.RADIO.NETFLIX" | translate}}⁴</label>
                </div>
                <!-- <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="oneshots" [(ngModel)]="oneShotsChecked">
                <label class="form-check-label" for="oneshots">One-Shots²</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="series2" value="3">
                <label class="form-check-label" for="series2">Uncanon Series³</label>
            </div> -->
            </div>

            <div class="mt-2">
                {{"ORGANIZER.QUESTIONS.ORDER" | translate}}
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="releaseOrder" [value]="1"
                            [(ngModel)]="isChronological" name="order">
                        <label class="form-check-label" for="releaseOrder">
                            {{"ORGANIZER.RADIO.ORDER.RELEASE" | translate}}
                        </label>
                    </div>
                    <!-- <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="chronologicalOrder" [value]="2"
                            [(ngModel)]="isChronological" name="order">
                        <label class="form-check-label" for="chronologicalOrder">{{"ORGANIZER.RADIO.ORDER.CHRONOLOGICAL"
                            |
                            translate}}</label>
                    </div> -->
                </div>
            </div>
            <div class="mt-2">
                {{"ORGANIZER.QUESTIONS.FREQUENCY" | translate}}
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="frequency1" [value]="1" [(ngModel)]="frequency"
                            name="frequency">
                        <label class="form-check-label" for="frequency1">{{"ORGANIZER.RADIO.FREQUENCY.EVERYDAY" |
                            translate}}</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="frequency2" [value]="2" [(ngModel)]="frequency"
                            name="frequency">
                        <label class="form-check-label" for="frequency2">{{"ORGANIZER.RADIO.FREQUENCY.WEEKENDS" |
                            translate}}</label>
                    </div>
                </div>
            </div>
            <div class="mt-2">
                {{"ORGANIZER.QUESTIONS.QUANTITY" | translate}}
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="quantity1" [value]="1" [(ngModel)]="quantity"
                            name="quantity">
                        <label class="form-check-label" for="quantity1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="quantity2" [value]="2" [(ngModel)]="quantity"
                            name="quantity">
                        <label class="form-check-label" for="quantity2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="quantity3" [value]="3" [(ngModel)]="quantity"
                            name="quantity">
                        <label class="form-check-label" for="quantity3">3</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="quantity4" [value]="4" [(ngModel)]="quantity"
                            name="quantity">
                        <label class="form-check-label" for="quantity4">4</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="quantity5" [value]="5" [(ngModel)]="quantity"
                            name="quantity">
                        <label class="form-check-label" for="quantity5">5</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="quantity6" [value]="6" [(ngModel)]="quantity"
                            name="quantity">
                        <label class="form-check-label" for="quantity6">6</label>
                    </div>
                </div>
            </div>
            <div class="mt-2">
                {{"ORGANIZER.QUESTIONS.START" | translate}}
                <input type="date" class="form-control" [value]="minDate | date:'yyyy-MM-dd'"
                    [min]="minDate | date:'yyyy-MM-dd'" onkeydown="return false" (change)="changeDate($event.target)">

            </div>
            <div class="mt-4">
                <button class="btn btn-success btn-block w-100" (click)="generate()" [disabled]="!isValid() || loading">
                    <i class="fas fa-arrow-right"></i> {{"ORGANIZER.ACTION" | translate}}
                </button>
            </div>
            <p class="mt-4">
                <small class="text-muted">
                    <div>
                        ¹ {{"ORGANIZER.OBSERVATIONS.OBS1" | translate}}
                    </div>
                    <div>
                        ² {{"ORGANIZER.OBSERVATIONS.OBS2" | translate}}
                    </div>
                    <div>
                        ³ {{"ORGANIZER.OBSERVATIONS.OBS3" | translate}}
                    </div>
                    <div>
                        ⁴ {{"ORGANIZER.OBSERVATIONS.OBS4" | translate}}
                    </div>
                </small>
            </p>
        </ng-container>
        <h2 *ngIf="loading">{{"ORGANIZER.LOADING" | translate}}</h2>
        <div class="row" *ngIf="!loading">
            <ng-container *ngIf="days?.length > 0">
                <div class="d-flex flex-row align-items-center">
                    <div class="pe-2">
                        <button class="btn btn-success btn-sm" (click)="days = []" [ngbTooltip]="('BACK' | translate)">
                            <i class="fas fa-arrow-left"></i>
                        </button>
                    </div>
                    <div>
                        <h4 [translate]="'ORGANIZER.NUMDAYS'" [translateParams]="{numDaysToWatch: days.length}"></h4>
                    </div>
                    <!-- <div class="ms-auto">
                        <button class="btn btn-primary btn-sm" [ngbTooltip]="('ORGANIZER.SHARE' | translate)">
                            <i class="fas fa-share"></i>
                        </button>
                    </div> -->
                </div>
            </ng-container>
            <small>{{"ORGANIZER.REGIONWARNING" | translate}}</small>
            <div class="col-sm-12" [class.col-md-2]="quantity == 1 || quantity == 2"
                [class.col-md-3]="quantity > 2 && quantity < 3" [class.col-md-4]="quantity >= 3 && quantity < 5"
                [class.col-md-6]="quantity >= 5" *ngFor="let day of days">
                <div class="card mt-3 overflow-auto" [style.height]="quantity == 1 ? '180px' : '230px'">
                    <div class="card-header" style="font-size: 13px">
                        <div class="d-flex justify-content-between">
                            <div>
                                {{day?.day | date:'fullDate'}}
                            </div>
                            <div class="small text-muted">
                                <i class="fas fa-clock"></i> {{day?.totalTime | timetohours}}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex flex-row flex-wrap">
                            <ng-container *ngFor="let item of day?.list">
                                <div class="py-1" [class.w-100]="quantity < 3"
                                    [class.w-50]="quantity >= 3 && quantity < 5" [class.w-25]="quantity >= 5">
                                    <div style="font-size: 13px">
                                        <span *ngIf="item?.showTitles">
                                            <span class="text-muted" style="font-size: 11px">
                                                {{"ORGANIZER.SEASONSABBREVIATE" |
                                                translate}}{{item?.season}}E{{item?.episode}}
                                            </span>
                                        </span> {{item?.titles[language]}}
                                    </div>
                                    <div class="d-flex flex-row flex-wrap align-items-center">
                                        <div *ngIf="item?.showTitles" style="font-size: 11px">
                                            {{item?.showTitles[language]}}
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="pe-1 text-muted" style="font-size: 11px"
                                            [ngbTooltip]="!item?.showTitles ? ('ORGANIZER.MOVIE' | translate) : ('ORGANIZER.SHOW' | translate)">
                                            <i class="fas fa-film" *ngIf="!item?.showTitles"></i>
                                            <i class="fas fa-video" *ngIf="item?.showTitles"></i>
                                        </div>
                                        <div class="text-muted" style="font-size: 11px">
                                            <i class="fas fa-clock"></i> {{item?.runtime?.fullForm}}
                                        </div>
                                        <div class="px-1 text-muted" style="font-size: 11px">
                                            <i class="fas fa-calendar"></i> {{item?.releaseDate | date:'dd/MM/yyyy'}}
                                        </div>
                                        <!-- <ng-container *ngIf="!item?.theaters">
                                            <a href="https://calendar.google.com/calendar/u/0/r/eventedit?text={{item?.titles[language]}}&dates={{day?.day | date:'yyyyMMdd\'T\'130000\'Z\''}}/{{day?.day | date:'yyyyMMdd\'T\'140000\'Z\''}}&details=&location=My+home&sf=true&output=xml"
                                                class="text-decoration-none" target="_blank"
                                                ngbTooltip="Google Calendar" container="body">
                                                <img src="assets/logos/google-calendar.png" width="32" height="32" />
                                            </a>
                                        </ng-container> -->
                                    </div>
                                    <ng-container *ngIf="item?.streamings?.length > 0 && !item?.theaters">
                                        <a href="{{streaming?.url}}" class="text-decoration-none" target="_blank"
                                            *ngFor="let streaming of item?.streamings" [ngbTooltip]="streaming?.name"
                                            container="body">
                                            <img src="{{streaming?.logo}}" width="32" height="32" />
                                        </a>

                                    </ng-container>
                                    <ng-container *ngIf="item?.theaters">
                                        <div class="text-muted" style="font-size: 12px">
                                            {{"ORGANIZER.THEATERS" | translate}}
                                        </div>
                                    </ng-container>
                                    <span class="ps-3" *ngIf="item?.producer"
                                        [ngbTooltip]="item?.producer === 'sony' ? ('ORGANIZER.RADIO.SSU' | translate) : item?.producer === 'netflix' ? ('ORGANIZER.RADIO.NETFLIX' | translate) : ('ORGANIZER.RADIO.FOX' | translate)">
                                        <i class="fas fa-globe-americas"></i>
                                    </span>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Where to Watch?</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
    </div>
</ng-template>