<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">MCU Watch Organizer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/organizer" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Make my
                        own organizer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/movies" routerLinkActive="active">Movies</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/shows" routerLinkActive="active">Shows</a>
                </li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Language
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" [class.active]="language === 'en-US'" href="javascript: void(0)"
                                (click)="appService.setLanguage('en-US')">English (US)</a>
                        </li>
                        <li>
                            <a class="dropdown-item" [class.active]="language === 'pt-BR'" href="javascript: void(0)"
                                (click)="appService.setLanguage('pt-BR')">Português (Brasil)</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>